<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956143178222-p0b5pe7fploaf469hpk6ihphofbjs6ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956143178222-p0b5pe7fploaf469hpk6ihphofbjs6ug</string>
	<key>API_KEY</key>
	<string>AIzaSyAPZIwEcsv3-nKWUr-TOjwEIDOV0RZPu2g</string>
	<key>GCM_SENDER_ID</key>
	<string>956143178222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ReactNative</string>
	<key>PROJECT_ID</key>
	<string>react-native-ac5e5</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-ac5e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956143178222:ios:4ceb8415eb62ee9ee07eff</string>
	<key>DATABASE_URL</key>
	<string>https://react-native-ac5e5.firebaseio.com</string>
</dict>
</plist>